#sidebar {
  background-color: #333;
  color: #fff;
  width: 200px;
  padding: 20px;
  height: 100vh;
  position: fixed;
  left: -200px;
  top: 0;
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 2;
}

#sidebar.open {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.site-name {
  font-weight: bold;
  font-size: 20px;
  order: 2;
}

.menu-toggle {
  cursor: pointer;
  font-size: 24px;
  order: 1;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar li {
  margin-bottom: 10px;
}

#sidebar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

#sidebar li a:hover {
  background-color: #555;
}

#content {
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
  margin-top: 50px;
  display: none;
}

#content.open {
  margin-left: 200px;
}

h2 {
  margin-top: 0;
  color: #333;
}

.top-menu {
  background-color: purple;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.top-menu.open {
  left: 200px;
  transition: left 0.3s ease;
}

.top-menu .site-name {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-right: auto;
  margin-left: 20px;
}

.top-menu .menu-toggle {
  font-size: 24px;
  margin-right: 20px;
}

body {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-family: Arial, sans-serif;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}

.setting .rate-options {
  display: flex;
  align-items: center;
}

.setting .rate-options .custom-checkbox {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.satellite-options {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.satellite-checkbox {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.setting .rate-options .custom-checkbox input[type="radio"] {
  display: none;
}

.setting .rate-options .custom-checkbox label {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.setting .rate-options .custom-checkbox label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #bbb;
}

.setting .rate-options .custom-checkbox input[type="radio"]:checked + label:before {
  background-color: #2196f3;
  border-color: #2196f3;
}

.setting .rate-options .custom-checkbox span {
  margin-left: 10px;
}

#save-button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 0;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

#settings {
  display: flex;
  flex-direction: column;
}

.settings-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#save-button:hover {
  background-color: #1976d2;
}

.satellite-checkbox {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.satellite-checkbox input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  appearance: none;
  outline: none;
  border: 2px solid #bbb;
  border-radius: 50%;
  margin-right: 8px;
}

.satellite-checkbox input[type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.satellite-checkbox input[type="checkbox"]:checked:before {
  background-color: #2196f3;
}

.satellite-checkbox label {
  cursor: pointer;
  font-size: 18px;
}
